<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.dhbw.horb.ksm.core.model.property">
      <advisor
            class="de.dhbw.horb.ksm.qksm.QKSMNodePropertyDescriptorAdvisor"
            name="QKSMNodePropertyDescriptorAdvisor"
            type="node">
      </advisor>
   </extension>

</plugin>
