<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.dhbw.horb.ksm.core.model.property" name="PropertyAdvisor" schema="schema/de.dhbw.horb.ksm.core.mode.property.exsd"/>
   <extension
         id="ksm"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="de.dhbw.horb.ksm.core.Application">
         </run>
      </application>
   </extension>

   <extension
         point="org.eclipse.ui.navigator.viewer">
       <viewerContentBinding
            viewerId="ksm.core.view.navigator">
          <includes>
       	     <contentExtension pattern="org.eclipse.ui.navigator.resourceContent" />
	     <contentExtension pattern="org.eclipse.ui.navigator.resources.filters.*"/>
          </includes>
       </viewerContentBinding>
       <viewerActionBinding
             viewerId="ksm.core.view.navigator">
            <includes>
                <actionExtension pattern="org.eclipse.ui.navigator.actionProvider.*" />
                <actionExtension
                      pattern="org.eclipse.ui.navigator.resources.*">
                </actionExtension>
            </includes>
       </viewerActionBinding>
       <viewer
             viewerId="ksm.core.view.navigatorigator">
		<!--
		<popupMenu
                allowsPlatformContributions="true"
                id="org.eclipse.ui.navigator.resourceContent#PopupMenu">
             <insertionPoint name="group.new"/>
             <insertionPoint name="group.edit" />
             <insertionPoint name="group.reorganize" />
             <insertionPoint name="group.open" />
             <insertionPoint name="group.openWith"/>
          </popupMenu>-->
       </viewer>
   </extension>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="ksm.core.menu.file"
               label="File">
            <command
                  commandId="org.eclipse.ui.newWizard"
                  label="New"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.text.openLocalFile"
                  label="Open Local File"
                  style="push">
            </command>
            <separator
                  name="ksm.core.menu.seperator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.save"
                  label="Save"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.print"
                  label="Print"
                  style="push">
            </command>
            <separator
                  name="ksm.core.menu.seperator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit"
                  style="push">
            </command>
         </menu>
         <menu
               label="Edit"
               mnemonic="ksm.core.menu.edit">
            <command
                  commandId="org.eclipse.ui.edit.undo"
                  label="Undo"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.redo"
                  label="Redo"
                  style="push">
            </command>
         </menu>
         <menu
               id="ksm.core.menu.perspective"
               label="Perspective">
            <command
                  commandId="ksm.core.command.CallEditorPerspective"
                  id="ksmcore.menu.perspective.editor"
                  label="Editor"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="ksm.core.toolbar">
            <command
                  commandId="org.eclipse.ui.file.save"
                  label="Save"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.dhbw.horb.ksm.core.handler.CallEditorPerspective"
            id="ksm.core.command.CallEditorPerspective"
            name="CallEditorPerspective">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.dhbw.horb.ksm.core.editor.ui.DiagramEditor"
            contributorClass="de.dhbw.horb.ksm.core.editor.actions.DiagramActionBarContributor"
            default="true"
            extensions="ksm"
            icon="icons/16/ksm-modell.png"
            id="ksm.core.editor"
            name="KSM Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="ksm.core.category"
            name="KSM">
      </category>
      <wizard
            category="ksm.core.category"
            class="de.dhbw.horb.ksm.core.editor.ui.DiagramCreationWizard"
            icon="icons/16/ksm-modell.png"
            id="ksm.core.editor.wizard.new.file"
            name="KSM Model"
            project="false">
         <description>
            Wizard for creating a new KSM model
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <primaryWizard
            id="ksm.core.editor.wizard.new.file">
      </primaryWizard>
      <wizard
            category="ksm.core.category"
            class="de.dhbw.horb.ksm.core.project.NewKSMProjectWizard"
            finalPerspective="ksm.core.perspectives.KSMEditorPerspective"
            icon="icons/32/ksm-modell.png"
            id="ksm.core.editor.wizard.new.project"
            name="New KSM Project"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.core.runtime.products">
      <product
            application="ksm.core.application"
            description="Kybernetisches System Modell"
            name="KSM">
         <property
               name="windowImages"
               value="icons/16/ksm-modell.png icons/32/ksm-modell.png">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="ksm.core.views.KSMCategory"
            class="de.dhbw.horb.ksm.core.view.Navigator"
            id="ksm.core.view.navigator"
            name="Navigator"
            restorable="true">
      </view>
      <category
            id="ksm.core.views.KSMCategory"
            name="KSM">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.dhbw.horb.ksm.core.perspectives.KSMEditorPerspective"
            fixed="true"
            icon="icons/releng_gears.gif"
            id="ksm.core.perspectives.KSMEditorPerspective"
            name="KSM Editor Perspektive">
      </perspective>
   </extension>
   <extension
         id="ksmProjectNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="de.dhbw.horb.ksm.core.project.KSMProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/32/ksm-modell.png"
            id="ksm.core.natureImage"
            natureId="de.dhbw.horb.ksm.core.ksmProjectNature">
      </image>
   </extension>
   <extension
         point="de.dhbw.horb.ksm.core.model.property">
      <advisor
            class="de.dhbw.horb.ksm.core.editor.model.property.BaseNodePropertyAdvisor"
            name="BaseNodePropertyAdvisor"
            type="node">
      </advisor>
      <advisor
            class="de.dhbw.horb.ksm.core.editor.model.property.BaseNodeGroupPropertyAdvisor"
            name="BaseNodeGroupPropertyAdvisor"
            type="nodegroup">
      </advisor>
      <advisor
            class="de.dhbw.horb.ksm.core.editor.model.property.BaseConnectionPropertyAdvisor"
            name="BaseConnectionPropertyAdvisor"
            type="connection">
      </advisor>
   </extension>
</plugin>
